<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink= "/home" >Home</a></li>
  <li><a routerLink="/aboutus">About us</a></li>
  <li><a routerLink="/contactus">Contact us</a></li>
  <li><a routerLink="/services">Servicess</a></li>
</ul>
<app-header>  </app-header>

<router-outlet></router-outlet>
<app-footer></app-footer>


<!--<div >Hello!</div>
<div>{{2+2}}</div>
<div *ngIf="isActive"> Welcome</div>
<button (click)="display()"> Show alert</button>
<div *ngFor="let student of students">{{student}}</div>
<button (click)="addstudent()">Add Student</button>-->
