<div>{{user.name}}</div>
<div [innerText]="user.name"></div>
<input type="text" [value]="user.name"/>
<input type="text" [(ngModel)]="user.name"/>

<div [style.backgroundColor]="color" innerText="{{user.name}}"></div>
<input type="text" value="{{user.name}}"/>

<table border="1" width="300px">
    <tr><th>ID</th><th>Name</th></tr>
    <tr *ngFor="let user of userList" (click)= "select(user)">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
    </tr>
</table>

<div *ngIf="userList.length>2" >Totally there are {{userList.length}} users </div>
<br/><br/>

<app-user *ngIf="selectedUser" [user]= "selectedUser" (msg)="getGreetingMsg($event)"  ></app-user>

<div><b>{{greetingMsgFromChild}}</b></div>


<h2>Git user List</h2>
<ul>
    <li *ngFor="let gitUser of gitUserList">{{gitUser.login}}</li>
</ul>




